html,body {
    height:100%;
}

.headerLink {
    font-size: 1.7rem;
    color: #999
}

.ui-widget-content a {
    color: #428bca !important; 
    text-decoration: none !important;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.mainbox {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    padding-bottom: 15px;
    margin: auto;
    margin-top: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd
}

.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
    padding-right: 5px;
    margin-bottom: 3px;
}

.btn-google img {
    padding-bottom: 4px;
    padding-right: 5px;
}

.container, .jumbotron {
    height:110%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.container h1 {
    margin-top: 10px;
}
.mainform {
    height:100%;
    margin-right: auto;
    margin-left: auto;
    margin-top:auto;
    margin-bottom:auto;
    width:60%;
}
.mainformrow {
    height:20%;
}
.mainimage {
    background: url('../images/Untitled3.jpg')  no-repeat center center;
    background-size: 100%;
    height:110%;
    width:100%;
}
h2.white {
   color:#EBEBEB !important;
}
.wellcomePlayer {
    height: 500px;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: white;
}
a.anchor {
 padding-top: 55px;
 margin-top: -55px;
}
ul.nav a.vote {
 background: red;
 color: black;
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
} 
.spinner-border{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.spinner-border-sm{
    border-width: .2em;
    margin-right: 10px;
}

.user_info {
    min-width: 30px;
    min-height: 30px;
    padding: 2px;
}

.image-cropper {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.user_image {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.wrapper {
    display: flex;
    width: 100%;
    padding-top: 6px;
}

#sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#main_panel {
    position: absolute;
    left: 250px;
    right: 0px;
}

#main_panel h1 {
    padding: 2px 2px 2px 15px;
    max-width: 80%;
    display: inline-block;
}

#main_panel p {
    padding: 2px 2px 2px 15px;
}

#main_panel button {
    margin-left: 15px;
}

#main_panel ul {
    padding: 2px 15px 2px 15px;
}

#sidebar {
    background: #EAEBEE;  /*#7386D5;*/
    color: #4f4f4f; /* #fff;*/
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 10px 20px 2px 10px;
    background: #a9aaaf; /*#6d7fcc;*/
}

#sidebar ul.components {
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 10px 10px 25px;
    font-size: 1.1em;
    display: block;
    color: #676767;
}
#sidebar ul li a:hover {
    color: #f9f9f9; /*#fff;*/
    background: #6d6d6f;/*#6d7fcc;*/
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #f9f9f9; /*#fff;*/
    background: #6d6d6f;/*#6d7fcc;*/
}

.media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.media-img {
    width: 100px;
 /*   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
}

.media-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.logo {
    height: 30px;
    box-shadow: 1px 1px 1px #888;
    float:right;
    margin: 5px;
}

.site_logo {
    background-color: white;
}

.site_logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
#actionBar {
    border-top: 1px dotted #ddd;
    vertical-align: top;
}

#logoBar {
    text-align: right;
    padding: 5px;
}

#actionBar button {
    margin:5px;
}

.actionLink {
    margin:5px;
    vertical-align: top;
    color: black;
    text-decoration: underline;
}

#demo_video {
    position: relative;
    padding: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#scroll {
    width: 250px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    padding-bottom: 50px;
}

.header_bar {
    background-color: #eaebee;
    border: 1px solid #ddd;
    -webkit-border-radius: 7px 10px 0px 0px;
    width: 100%;
    overflow: hidden;
}
.header_bar h1 {
    color: #707070;
    display:inline;
}

.header_bar a {
    color: #8e8f91;
    float:right;
    font-size: 2em;
    padding: 2px 15px 2px 2px;
}

.header_bar .back_header {
    color:#4f4f4f;
    font-size: 1.6em;
}

#collectionCS {
    padding: 2px 2px 2px 15px;
    color: #676767;
    overflow: hidden;
    float:right;
}
.right_options {
    overflow: hidden;
    float:right;
    padding-top: 8px;
}

.right_options .selected {
    font-weight: bold;
    text-decoration: none;
}

.manifestSummary h5 {
    padding: 5px 5px 5px 15px;
}

.manifestSummary {
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.media-header-div {
    width: 100%;
    background-color: #eaebee;
    overflow:hidden;
    height:50px;
    line-height:50px;
}

/*.media-header-div span {
    color: #676767;
    padding: 2px 12px 2px 15px;
}*/
.media-header-div h3 {
    display: inline-block;
    padding-left: 15px;
    color: #707070;
    font-size: 1.35rem;
}

.media-header-div button {
    position:relative;
    right:0px;
    float:right;
}

.media-header-div h5 {
    display:inline-block;
    left: 115px;
    position: relative;
    right: 100px;
    width: 80%;
}

.media-heading {
    border-bottom: 1px dotted #ddd;
}

.media a {
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

#collection_link span {
    display: inline;
    margin-right: 10px;
}

.tag {
    background: lightGray;
    color: #222;
    border-radius: 6px;
    padding: 0 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 12;
    font-weight: bold;
    border: 1px solid #aaa;
    display: inline-block;
}

.options {
    padding: 10px 15px 5px 15px;
    overflow: hidden;
    width: 100%;
}

.option_links {
    display: inline-block;
    padding-top: 8px;
}

.options a {
    text-decoration: underline;
    padding-right: 15px;
    padding-left: 15px;
    color:black;
}

.content_state {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#contentStateFull {
    float:right;
    border-radius: .25rem;
    height: 100%;
}

.contentStateLogo {
    margin: 5px;
    display: inline-block;
}

.iiif_logo {
    height: 25px;
    vertical-align: bottom;
    margin-left: 0px !important;
}

#contentStateFull input {
    width: 300px;
}

.copyToClipboard {
    margin-left: 0px !important;
    border: 1px solid #a3a8ac;
    padding-left: 7px;
    padding-right: 7px !important;
}

.copyToClipboard i {
    color:#6c757d;
}

.content-state-text {
    padding-left:5px;
    color: #676767;
    text-decoration: underline;
}

.canvas {
    display:none;
}

.anno_canvas {
}
