target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
src/main/webapp/demo.html
*.swp
.DS_Store
/data
/mirador_full
dockerlogin.sh
cache
mirador-2.6.0
mirador-2.6.1
sas.tar.gz
index-2.6.0.html
index-2.6.1.html
