before_script: travis/install_solrcloud.sh
after_script: travis/stop_solr.sh
language: java
env:
  global:
    - secure: TPrIVtiI6iSjL679VlrEDEyXsPgGzOOAMPNoxBnDrlxnbhk0a6nE5Yz3CyWAD2F3KeQrDABG1zX1QZ7Bnla+aWFR4WvBbNLhrLIlbOqCHABNT3S4Sn644xjgP7uSxkolr5MkG4PXjdu42VJ6/51Rkrp2IAadXP8vqq+FFz6sGsoJb1cJEaN+PKygvciUvhuDB/Sty8xBSIskRLBEG9gxeezYdmyLHcF9eT4HQl2J2OKtLWBE9H33zoeTgRndjuQJYHQFe/+uzRHBQ85TBZerqtjYGD2yKoAlP/CnfIxuP1hmiB9mfyAdQLay5Yt/vyLmgVEa6DhtAh13mIpHJCZ/XvE+RzJOw4eOkVJnnq0VvLQI1bQwFixdGQORs27xiomT3d1mMH/a4Alphr6GWs6+s5JMSpVeEsf/O+8PE38JqVrVWr0+hJ+gcKeUSIXqHtt03bHMW7yiw9NUpQ/F8rjq2cWTwwv6AFra8iJ8XyJwiCJarofEEYJ/BsLbELoDmbna5iCdrY0deXLvla4gkoRffUMTmhuIh49SG/jtaFw19W7hg9ogQfreOrjuy7xac7JP+dXOlO/RrtoBYzP2zZNaDvJ95P1kz3tYqw3X+2QcsaXdr9VyDvRwxpjSE8BiAsNOb2OHorzXTNjPfd2HuHkZjLvqo2sxH/UgvqYDrW5QB5k=
    - secure: dTbTwcvFGOA6SjdCW+sQOncA3h4tq8r7VpctsiU2fjeLE/2MbOWnq7jbdfEDUOXrrtgHwHMwzkCjP5EHJ2KvfKDUQHTVIpP3eIXKjqjWAi/sg8HqdaxF/FBHShgQfIKfL2Gmy+YBeFcXoV3az/t8cBmMc90GPVispLRs3p9x3SK8Wp/U4Mjzp83OXXxItcR7ujha/pJ51KmClgdJXIAnS6Z+Ke080H/rsr5M1tvihBPFHGsUfyj7Z+9xVQcxPmYdxDhB5OEwIs1fSsoYzAS8JfnEPMdICmUBPeLFYvmusBn1UPx8UopWl46L7t3rRdSKoC+cQ/SoVfl+9qt+R2slnhCR1bGjZrK3xXFck68/h15oSLMg0iVTjpeZFu7fwwBldzNit33uRMiwnsO6eUcZbMmmKrL+P/paNm4oaQ7+b9i5zcBNXGG0VhIEvGpedwL/0sqgt/xLTdg8Ffb6IeHmF6OzXH0TKPW4f//eGo2CQJnZ6xIKixC7mzEdRRmF+9DykJ9SdebDEZZfnFkMQIgw7JSBX/lJV1IfkTWHjpHH1FHBiPklpjvbx2LFUQzhZXMJX0q0GB/9eptq62y+CAKfL5lRvCRMHLHzr88jH48RmGR9FkTOGlOLLy1BImcDsKYS5GwSwVdKXfZxd+nuVJZggeRIldbeBm7+LWNzvFNzDxw=
jdk:
  - openjdk8
services:
  - docker
script: mvn clean test
after_success:
  - docker --version
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin
  - eval $(aws ecr get-login --region eu-west-2)
  - docker build --rm -t sas .
  - docker tag sas:latest 082101253860.dkr.ecr.eu-west-2.amazonaws.com/sas:latest
  - docker push 082101253860.dkr.ecr.eu-west-2.amazonaws.com/sas:latest

