# from : https://gist.githubusercontent.com/hammady/3d7b5964c7b0f90997865ebef40bf5e1/raw/9be2e7ee2e5afe648b5d4f627d8d19ffc31cc889/solr.service
# put this file in /etc/systemd/system/ as root
# below paths assume solr installed in /opt/solr, SOLR_PID_DIR is /data
# and that all configuration exists in /etc/default/solr.in.sh which is the case if previously installed as an init.d service
# change port in pid file if differs
# note that it is configured to auto restart solr if it fails (Restart=on-faliure) and that's the motivation indeed :)
# to switch from systemv (init.d) to systemd, do the following after creating this file:
# sudo systemctl daemon-reload
# sudo service solr stop # if already running
# sudo systemctl enable solr
# systemctl start solr
# this was inspired by https://confluence.t5.fi/display/~stefan.roos/2015/04/01/Creating+systemd+unit+(service)+for+Apache+Solr
[Unit]
Description=Apache SOLR
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket
Before=multi-user.target graphical.target nginx.service tomcat.service
Conflicts=shutdown.target
[Service]
User=solr
PIDFile=/data/solr-8983.pid
Environment=SOLR_INCLUDE=/etc/default/solr.in.sh
ExecStart=/opt/solr/solr-6.6.1/bin/startCloud.sh
ExecStop=/opt/solr/solr-6.6.1/bin/solr stop -all
Restart=on-failure
[Install]
WantedBy=multi-user.target
