<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Simple Annotation Server</display-name>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>uk.org.llgc.annotation.store.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<servlet>
		<servlet-name>InitServer</servlet-name>
		<servlet-class>uk.org.llgc.annotation.store.StoreConfig</servlet-class>
	    <init-param>
	        <param-name>config_file</param-name>
	        <param-value>sas.properties</param-value>
	        <description>Name of the config file to use.</description>
	    </init-param>
        <init-param>
	        <param-name>relative</param-name>
	        <param-value>true</param-value>
	        <description>If above file is relative to /WEB-INF/ or is absolute.</description>
	    </init-param>
	    <load-on-startup>1</load-on-startup> <!-- this needs to be the first one to start -->
	</servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Destroy</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Destroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Populate</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Populate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.ListAnnoPages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllAnnos</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.ListAnnotations</servlet-class>
    </servlet>
	 <servlet>
        <servlet-name>UploadManifest</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.ManifestUpload</servlet-class>
		  <init-param>
			  <param-name>manifest_dir</param-name>
			  <param-value>/manifests</param-value>
		  </init-param>
    </servlet>
	 <servlet>
        <servlet-name>IIIFSearchAPI</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.IIIFSearchAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IIIFSearchAPI</servlet-name>
        <url-pattern>/search-api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadManifest</servlet-name>
        <url-pattern>/manifests</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>UploadManifest</servlet-name>
        <url-pattern>/manifests/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/annotation/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/annotation/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/annotation/update/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Destroy</servlet-name>
        <url-pattern>/annotation/destroy/*</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>Populate</servlet-name>
        <url-pattern>/annotation/populate</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/list.html</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>ListAllAnnos</servlet-name>
        <url-pattern>/annotation/</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type> 
    </mime-mapping>
</web-app>
