<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Simple Annotation Server</display-name>
    <context-param>
        <param-name>data_dir</param-name>
        <param-value>data</param-value>
        <description>Sets the directory containing TDB RDF database</description>
    </context-param>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>uk.org.llgc.annotation.store.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Destroy</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Destroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Populate</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.Populate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>uk.org.llgc.annotation.store.ListAnnoPages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/annotation/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/annotation/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/annotation/update/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Destroy</servlet-name>
        <url-pattern>/annotation/destroy/*</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>Populate</servlet-name>
        <url-pattern>/annotation/populate</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/list.html</url-pattern>
    </servlet-mapping>
</web-app>
