name: SOLR

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Starting SOLR
        run:  docker-compose -f docker/sas-solr/docker-compose.yml --project-directory . up -d solr

      - name: Wait for SOLR to start
        run:  docker exec -t sas_solr /opt/docker-solr/scripts/wait-for-solr.sh --max-attempts 10 --wait-seconds 5 --solr-url http://0.0.0.0:8983/

      - name: Selecting SOLR config
        run: export "config=solr.properties"

      - name: Run Tests
        run: mvn test
